POSTGRES_USER=postgres
POSTGRES_PASSWORD=<a-password-to-postgres-db>
POSTGRES_DB=postgres
JWT_SECRET=<your-jwt-secret-min-32-chars>
PGADMIN_EMAIL=<some@email.com>
PGADMIN_PASSWORD=<a-password-to-pgadmin>